@import "/scss/modules/all";
@import "/scss/partials/all";

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    padding-top: 80px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  } 
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
    color: black;
  }  
  .container {
    padding: 0 16px;
    text-align: center;
  }
 
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(66, 218, 66);
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    
  }
  
  .button:hover {
    background-color: rgb(26, 153, 0);
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}
.main
{
    padding-bottom: 80px;
}
h2
{
  font-size: 20px;
}