@import '../modules/_all.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $site-width;
    margin: $margins;

    img {
        height: auto; 
        width: auto; 
        max-height: 700px;
        max-width: 1000px;
    }

    &__content {
        width: 900px;
        text-align: center;
    }
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: $site-width;
    flex-wrap: wrap;

    &__img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 1000px;
    }

    img:nth-child(odd) {
        width: auto;
        height: auto;
        max-width: 300px;
        max-height: 205px;
        margin: 25px 25px 25px 25px;
    }

    img:nth-child(even) {
        width: auto;
        height: auto;
        max-width: 300px;
        margin: 25px 25px 25px 25px;
    }

    &__container {
        text-align: center;
    }
}


