.footer {
    background-color: #585858;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        height: 150px;
        margin-left: 25px;
        margin-top: 15px;
    }
    
    #bottom-logo {
        width: 221px;
        height: 41px;
        margin-bottom: 0;
    }

    ul {
        list-style: none;
    }
    
    &__left li {
        color: white;
        font-family: 'montserrat', sans-serif;
        font-size: 14px;
    }
    
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
    }
    
    .footer__right:nth-child(2) {
        justify-content: flex-end;
    }
    
    &__right img {
        margin: 10px;
    }
}