body {   
    width: 100%;
    background-color: white;
    margin: auto;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*HEADLINE SECTION*/

.galleryheadline_container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    margin-bottom: 100px;   
}

.main_galleryheadline {
    grid-column: 1 / 2;
    grid-row: 1 / 2;   
    max-width: 400px;
    width: 100%;
    margin-top: 130px;
    margin-left: 20px;
}

.galleryheadline_image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 650px;
    width: 100%;
    margin-left: 30px;
    margin-right: 75px;
    border-radius: 40%;
    border-bottom-left-radius: 60%;
    border-top-right-radius: 45%;
}

/*KITCHEN & BATHROOM HEADLINE SECTION*/

.bottom_section {
    max-width: 1150px;
    width: 100%;
    margin-bottom: 100px;
}

.kitchen_gallery_text_container, .bathroom_gallery_text_container {
    max-width: 1150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1 fr; 
    margin-bottom: 30px;
}

.kitchen_headlineitem, .bathroom_headlineitem {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.kitchen_gallery_paragraph, .bathroom_gallery_paragraph {
    grid-column: 1 / 2;
    grid-row: 2 / 3;    
    max-width: 700px;
    width: 100%;
    margin-right: 40px;  
    margin-top: 20px;  
}

/*KITCHEN & BATHROOM IMAGE SECTION*/

.kitchen_inspiration_container {
    max-width: 1150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    gap: 10px;    
}

.bathroom_inspiration_container {
    max-width: 1150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    gap: 10px;
}

@keyframes imgzoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover {
    animation: imgzoom 3.5s;  
}

.image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 565px;
    width: 100%;
    min-height: 400px;
}

.image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 565px;
    width: 100%;
    min-height: 400px;
}

.image3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-width: 565px;
    width: 100%;
    min-height: 400px;
}

.image4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    max-width: 565px;
    width: 100%;
    min-height: 400px;
}

a {
    text-decoration: none;
}

.button_container {
    max-width: 1150px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.kitchen_button {    
    width: 120px;
    height: 50px;
    border-radius: 10%;
    border: none;
    background-color: #53c154;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: white;
    text-align: center;  
    margin-top: 20px;
    margin-bottom: 30px; 
    cursor: pointer;
}

.bathroom_button {
    width: 120px;
    height: 50px;
    border-radius: 10%;
    border: none;
    background-color: #53c154;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: white;
    text-align: center;
    margin: 0;
    cursor: pointer;
}

.kitchen_button:hover, .bathroom_button:hover {
    background-color: #033803;;
}



