.header {
    background-image: url("../../images/leaf.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
}

#top-logo {
    position: absolute;
    top: 25px;
    left: 25px;
}