@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
    font-family: 'montserrat', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: bold;
    line-height: 55px;
    color: #53C154;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    color: #53C154;    
}

h3 {
    font-family: 'montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 35px;
    color: #53C154;  
}

h4 {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: semi-bold;
    line-height: 30px;
    color: #53C154; 
}

p {
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    color: black; 
}

.menu_font {
    font-weight:bold;
    font-size: 18px;
    letter-spacing: -0.4px;
}