body {
    margin: 0px;
}

.header {
    background-image: url("/images/pipes.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
}

#top-logo {
    width: 375px;
    height: 75px;
}

.navigation {
    background-color: #53C154;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    padding: 5px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 2px solid #439b44;
}

.footer {
    background-color: #585858;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__left {
    height: 150px;
}

#bottom-logo {
    width: 221px;
    height: 41px;
    margin-bottom: 0;
}

.footer__left li {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}